span.ripple {
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  transform: scale(0); }

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0; } }

.medium-grey {
  color: #919191; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0%; }

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000; }

p {
  margin-top: 0; }

a,
a:visited,
a:active {
  text-decoration: none;
  color: #919191; }

i {
  margin-right: 7px; }

.button-outline {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #828282;
  color: #919191;
  cursor: pointer; }

.section-title {
  font-size: 33px; }

.summary-title {
  font-weight: bold;
  color: #282828; }

.summary-title-promo {
  font-weight: bold;
  color: #282828;
  padding: 8px 0px; }

@media (min-width: 1440px) {
  .show-mobile {
    display: none; } }

@media (min-width: 1440px) {
  .show-desktop {
    display: flex; } }

.credit-text {
  font-size: 16px;
  font-weight: bold; }

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0; }

.btn-outline-grey {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #828282;
  color: #919191;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 5px 15px;
  position: relative;
  transition: 150ms ease-in-out; }
  .btn-outline-grey:hover, .btn-outline-grey:focus {
    transform: scale(1.05); }

.btn-summary {
  background-color: #43b1e6;
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 16px;
  max-width: 500px;
  overflow: hidden;
  padding: 12px 60px;
  position: relative;
  transition: 150ms ease-in-out;
  width: 100%; }
  .btn-summary:hover {
    background-color: #1a8cc3; }

.btn-footer {
  background-color: #43b1e6;
  border-radius: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding: 16px 26px;
  position: relative; }
  .btn-footer:hover {
    background-color: #1a8cc3; }

.btn-continue {
  margin-bottom: 20px;
  margin-top: 15px; }
  .btn-continue i {
    color: #43b1e6;
    font-size: 11px; }
  .btn-continue button {
    background-color: transparent;
    border: none;
    color: #43b1e6;
    cursor: pointer;
    font-size: 16px; }

.btn-input {
  background-color: #43b1e6;
  border-radius: 0px 4px 4px 0px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: 150ms ease-in-out;
  width: 112px; }
  .btn-input:hover {
    background-color: #1a8cc3; }

.card {
  display: grid; }
  .card__artwork {
    align-items: center;
    display: flex;
    grid-area: artwork; }
    .card__artwork .cart-img {
      height: 48px;
      margin-right: 16px;
      width: 48px; }
      .card__artwork .cart-img img {
        border-radius: 2px;
        object-fit: cover;
        width: 100%; }
      @media (min-width: 1440px) {
        .card__artwork .cart-img {
          height: 48px;
          margin-right: 16px;
          width: 48px; } }
  @media (min-width: 1440px) and (min-width: 1440px) {
    .card__artwork .cart-img {
      height: 88px;
      width: 88px; } }
      @media (min-width: 1440px) {
          .card__artwork .cart-img img {
            border-radius: 2px;
            object-fit: cover;
            width: 100%; } }
    .card__artwork .saved-img {
      height: 48px;
      margin-right: 16px;
      width: 48px; }
      .card__artwork .saved-img img {
        border-radius: 2px;
        object-fit: cover;
        width: 100%; }
    .card__artwork__title {
      display: flex;
      flex-direction: column; }
      .card__artwork__title .song-title {
        color: #000;
        font-weight: bold; }
        @media (min-width: 1440px) {
          .card__artwork__title .song-title {
            font-size: 16px; } }
      .card__artwork__title .artist-title {
        color: #828282; }
  .card .remove {
    grid-area: remove;
    margin-left: auto; }
  .card .product__type {
    align-items: center;
    display: flex;
    gap: 6px;
    grid-area: product-type; }
    .card .product__type img {
      vertical-align: middle; }
    .card .product__type .product-text {
      color: #828282;
      font-weight: bold;
      line-height: 24px;
      vertical-align: middle; }
  .card .credit {
    grid-area: credit;
    justify-self: end; }
  .card .card-button {
    grid-area: card-button;
    justify-self: end; }
  .card .remove-save {
    display: none;
    color: #828282;
    grid-area: remove-save;
    justify-self: end; }
    @media (min-width: 1440px) {
      .card .remove-save {
        display: flex; } }
  .card .saved-remove-add {
    color: #828282;
    display: none;
    flex-direction: row;
    gap: 10px;
    grid-area: saved-remove-add;
    justify-self: end; }
    @media (min-width: 1440px) {
      .card .saved-remove-add {
        display: flex; } }
    .card .saved-remove-add button {
      background-color: #fff;
      border-radius: 15px;
      border: 1px solid #828282;
      color: #919191;
      cursor: pointer;
      display: inline-block;
      padding: 5px 15px; }

.input-footer {
  align-items: center;
  display: flex; }
  .input-footer input {
    background-color: #171717;
    border: 1px solid #5c5c5c;
    color: #b6b6b6;
    height: 40px;
    padding: 5px 8px;
    width: 239px; }

.input-nav {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #dadada;
  color: #828282;
  padding: 5px; }
  .input-nav::placeholder {
    color: #dadada; }

.navbar-link {
  font-size: 18px; }
  .navbar-link :hover {
    color: #43b1e6; }
  .navbar-link .caret {
    font-size: 12px; }

.cart {
  grid-area: cart; }
  .cart__container {
    padding: 40px 16px; }
    @media (min-width: 1440px) {
      .cart__container {
        padding: 80px 75px; } }
    .cart__container .card {
      grid-template-areas: 'artwork artwork remove' 'product-type product-type credit' 'card-button card-button card-button';
      gap: 16px;
      padding: 32px 16px;
      align-items: center; }
      @media (min-width: 1440px) {
        .cart__container .card {
          grid-template-columns: 53% 23% 23%;
          grid-template-areas: 'artwork product-type credit' 'remove-save remove-save remove-save';
          gap: 0px; } }
  .cart hr {
    border: 0;
    border-top: 1px solid #dadada; }

.footer {
  background-color: #282828;
  margin-bottom: 85px; }
  @media (min-width: 1440px) {
    .footer {
      margin-bottom: 0px; } }
  .footer__main {
    padding: 40px 15px 0; }
    .footer__main__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1170px;
      width: 100%; }
      @media (min-width: 1440px) {
        .footer__main__wrapper {
          display: grid;
          grid-template-columns: 1fr 370px;
          grid-template-rows: 110px 100px auto; } }
  .footer__link__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%; }
    @media (min-width: 1440px) {
      .footer__link__group {
        grid-row: 1 / span 3;
        margin-bottom: 0; } }
  .footer__link__col {
    flex-grow: 1;
    min-width: 144px;
    width: 33.33%; }
  .footer__title {
    color: #fafafa;
    margin: 0 0 5px; }
  .footer__nav {
    margin-bottom: 25px; }
    .footer__nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer__nav ul li {
        margin: 0 0 8px; }
      .footer__nav ul a {
        color: #919191; }
  .footer__newsletter {
    margin-bottom: 40px;
    order: -2; }
    @media (min-width: 1440px) {
      .footer__newsletter {
        order: 2; } }
  .footer__faq {
    order: -1;
    margin-bottom: 40px; }
    @media (min-width: 1440px) {
      .footer__faq {
        grid-column: 2 / span 1;
        margin-bottom: 0;
        order: 3; } }
  .footer__social {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    margin-bottom: 20px; }
    @media (min-width: 1440px) {
      .footer__social {
        align-items: center;
        display: block;
        float: right;
        grid-column: 2 span 1;
        margin: 0;
        order: 4;
        width: auto; } }
    .footer__social__icons {
      display: flex;
      flex-direction: row;
      gap: 16px; }
      @media (min-width: 1440px) {
        .footer__social__icons {
          float: left;
          margin-right: 30px; } }
    .footer__social__follow {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: center; }
  .footer__secondary {
    background-color: #171717;
    color: #919191;
    padding: 15px; }
    .footer__secondary__wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 auto;
      max-width: 1170px; }
      @media (min-width: 1440px) {
        .footer__secondary__wrapper {
          align-items: center;
          flex-direction: row;
          justify-content: space-between; } }
      .footer__secondary__wrapper .text-top {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center; }
        @media (min-width: 1440px) {
          .footer__secondary__wrapper .text-top {
            order: 3; } }
      .footer__secondary__wrapper .text-middle {
        text-align: center;
        vertical-align: middle; }
        @media (min-width: 1440px) {
          .footer__secondary__wrapper .text-middle {
            order: 2; } }
      .footer__secondary__wrapper .text-bottom {
        text-align: center;
        vertical-align: middle; }
        .footer__secondary__wrapper .text-bottom p {
          margin: 0; }
        @media (min-width: 1440px) {
          .footer__secondary__wrapper .text-bottom {
            display: flex;
            gap: 5px;
            order: 1; } }

.main {
  display: grid;
  grid-template-areas: 'cart' 'summary' 'saved'; }
  @media (min-width: 1440px) {
    .main {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: 'cart summary' 'saved summary'; } }

.header__main {
  border-bottom: 1px solid #dadada; }
  .header__main .navbar {
    padding: 25px; }
    @media (min-width: 1440px) {
      .header__main .navbar .navbar__mobile {
        display: none; }
      .header__main .navbar .navbar__desktop {
        display: flex; } }
    .header__main .navbar__mobile {
      align-items: center;
      display: flex;
      justify-content: space-between; }
      .header__main .navbar__mobile__menu {
        align-items: center;
        display: inline-flex;
        height: 40px;
        justify-content: center;
        width: 40px; }
        .header__main .navbar__mobile__menu__dots {
          background: #dadada;
          border-radius: 50%;
          height: 5px;
          margin-right: 5px;
          pointer-events: none;
          width: 5px; }
      .header__main .navbar__mobile__right {
        align-items: center;
        color: #dadada;
        display: flex;
        gap: 32px;
        justify-content: center; }
    .header__main .navbar__desktop {
      align-items: center;
      display: none;
      flex-direction: row;
      justify-content: space-between; }
      .header__main .navbar__desktop ul li {
        display: inline-block;
        margin-right: 10px; }
      .header__main .navbar__desktop__left {
        align-items: center;
        display: flex;
        gap: 16px; }
        .header__main .navbar__desktop__left .covid-link {
          color: #43b1e6; }
      .header__main .navbar__desktop__right {
        align-items: center;
        display: flex;
        flex-direction: row; }
        .header__main .navbar__desktop__right ul li [data-badge-count]::after {
          align-items: center;
          background: #43b1e6;
          border-radius: 50%;
          color: #fff;
          content: attr(data-badge-count);
          display: flex;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          height: 15px;
          justify-content: center;
          left: 5px;
          line-height: 15px;
          min-width: 16px;
          padding: 2px 2px;
          position: absolute;
          top: -5px; }
        .header__main .navbar__desktop__right ul i {
          color: #dadada;
          position: relative; }
        .header__main .navbar__desktop__right__search {
          align-items: center;
          display: flex;
          position: relative; }
          .header__main .navbar__desktop__right__search img {
            position: absolute;
            right: 10px; }

.saved {
  grid-area: saved; }
  @media (min-width: 1440px) {
    .saved {
      padding-bottom: 80px; } }
  .saved__container {
    padding: 20px 16px; }
    @media (min-width: 1440px) {
      .saved__container {
        padding: 0px 75px; } }
    .saved__container .card {
      grid-template-areas: 'artwork artwork remove' 'product-type card-button card-button';
      gap: 16px;
      padding: 32px 16px;
      align-items: center; }
      @media (min-width: 1440px) {
        .saved__container .card {
          grid-template-columns: 53% 23% 23%;
          grid-template-areas: 'artwork product-type saved-remove-add';
          gap: 0px; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #828282;
    display: block;
    transition: 0.3s;
    margin: 0 auto; }
    .sidenav a:hover {
      color: #a8a8a8; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px; }

.sticky__footer {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0; }
  .sticky__footer .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px; }
  .sticky__footer__text {
    display: flex;
    flex-direction: column; }

.summary {
  background-color: #fafafa;
  grid-area: summary; }
  .summary .container {
    padding: 40px 16px; }
    @media (min-width: 1440px) {
      .summary .container {
        width: 475px;
        padding: 80px 75px; }
        .summary .container h1 {
          margin-bottom: 50px; } }
  .summary__details {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .summary__details a {
      color: #43b1e6;
      text-decoration: underline; }
    .summary__details hr {
      border: 0;
      border-top: 1px solid #dadada; }
    .summary__details__row {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media (min-width: 1440px) {
        .summary__details__row {
          padding: 5px 0; } }
    .summary__details__value {
      color: #919191; }
    .summary__details__icon {
      color: #282828; }
    .summary__details__order p {
      color: #919191; }
    .summary__details__order div {
      margin: 0 auto;
      text-align: center; }
    .summary__details__order .terms {
      color: #b6b6b6;
      font-size: 14px;
      text-align: center; }
      .summary__details__order .terms a {
        color: inherit; }
