// Display badge count over cart
@mixin navbar-badge {
  [data-badge-count]::after {
    content: attr(data-badge-count);
    align-items: center;
    background: $color-light-blue;
    border-radius: 50%;
    color: $color-white;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    height: 15px;
    justify-content: center;
    left: 5px;
    line-height: 15px;
    padding: 2px 2px;
    position: absolute;
    top: -5px;
    min-width: 16px;
  }
}

@mixin cart-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;

  @media (min-width: 1440px) {
    width: 88px;
    height: 88px;
  }

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
  }
}

@mixin saved-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
  }
}

@mixin cart-grid {
  grid-template-areas:
    'artwork artwork remove'
    'product-type product-type credit'
    'card-button card-button card-button';
  gap: 16px;
  padding: 32px 16px;
  align-items: center;

  @media (min-width: 1440px) {
    grid-template-columns: 53% 23% 23%;

    grid-template-areas:
      'artwork product-type credit'
      'remove-save remove-save remove-save';
    gap: 0px;
  }
}

@mixin saved-grid {
  grid-template-areas:
    'artwork artwork remove'
    'product-type card-button card-button';
  gap: 16px;
  padding: 32px 16px;
  align-items: center;

  @media (min-width: 1440px) {
    grid-template-columns: 53% 23% 23%;
    grid-template-areas: 'artwork product-type saved-remove-add';
    gap: 0px;
  }
}
