// Colors
$color-white: #fff;
$color-black: #000;
$color-bg-primary: #fff;
$color-bg-secondary: #fafafa;
$color-bg-dark: #282828;
$color-bg-black: #000000;
$color-light-blue: #43b1e6;

// Text
$color-text-primary: #000000;
$color-lightest-grey: #dadada;
$color-text-light-grey: #b6b6b6;
$color-text-medium-grey: #919191;
$color-text-dark-grey: #828282;

// headings
$color-title-bold: #282828;

// Links
$color-navbar-link: #919191;

// Inputs
$color-input-bg-dark: #171717;
$color-input-border-dark: #5c5c5c;

// Font
$default-font-size: 14px;

// Breakpoint
$desktop-breakpoint: 1440px;
