.footer {
  background-color: $color-bg-dark;

  margin-bottom: 85px;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 0px;
  }

  &__main {
    padding: 40px 15px 0;

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1170px;
      width: 100%;

      @media (min-width: $desktop-breakpoint) {
        display: grid;
        grid-template-columns: 1fr 370px;
        grid-template-rows: 110px 100px auto;
      }
    }
  }

  &__link__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%;

    @media (min-width: 1440px) {
      grid-row: 1 / span 3;
      margin-bottom: 0;
    }
  }

  &__link__col {
    flex-grow: 1;
    min-width: 144px;
    width: 33.33%;
  }

  &__title {
    color: $color-bg-secondary;
    margin: 0 0 5px;
  }

  &__nav {
    margin-bottom: 25px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 8px;
      }

      a {
        color: $color-navbar-link;
      }
    }
  }

  &__newsletter {
    margin-bottom: 40px;
    order: -2;

    @media (min-width: $desktop-breakpoint) {
      order: 2;
    }
  }

  &__faq {
    order: -1;
    margin-bottom: 40px;

    @media (min-width: $desktop-breakpoint) {
      grid-column: 2 / span 1;
      margin-bottom: 0;
      order: 3;
    }
  }

  &__social {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: $desktop-breakpoint) {
      align-items: center;
      display: block;
      float: right;
      grid-column: 2 span 1;
      margin: 0;
      order: 4;
      width: auto;
    }

    &__icons {
      display: flex;
      flex-direction: row;
      gap: 16px;

      @media (min-width: $desktop-breakpoint) {
        float: left;
        margin-right: 30px;
      }
    }

    &__follow {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: center;
    }
  }

  &__secondary {
    background-color: $color-input-bg-dark;
    color: $color-text-medium-grey;
    padding: 15px;

    &__wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 auto;
      max-width: 1170px;

      @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }

      .text-top {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;

        @media (min-width: $desktop-breakpoint) {
          order: 3;
        }
      }

      .text-middle {
        text-align: center;
        vertical-align: middle;

        @media (min-width: $desktop-breakpoint) {
          order: 2;
        }
      }

      .text-bottom {
        text-align: center;
        vertical-align: middle;
        p {
          margin: 0;
        }
        @media (min-width: $desktop-breakpoint) {
          display: flex;
          gap: 5px;
          order: 1;
        }
      }
    }
  }
}
