.sticky__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-white;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }
}
