.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
}

.btn-outline-grey {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid $color-text-dark-grey;
  color: $color-text-medium-grey;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 5px 15px;
  position: relative;
  transition: 150ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.btn-summary {
  background-color: $color-light-blue;
  border-radius: 50px;
  border: none;
  color: $color-white;
  cursor: pointer;
  margin-bottom: 16px;
  max-width: 500px;
  overflow: hidden;
  padding: 12px 60px;
  position: relative;
  transition: 150ms ease-in-out;
  width: 100%;

  &:hover {
    background-color: darken($color-light-blue, 15%);
  }
}

.btn-footer {
  background-color: $color-light-blue;
  border-radius: 50px;
  border: none;
  color: $color-white;
  cursor: pointer;
  overflow: hidden;
  padding: 16px 26px;
  position: relative;

  &:hover {
    background-color: darken($color-light-blue, 15%);
  }
}

.btn-continue {
  margin-bottom: 20px;
  margin-top: 15px;
  i {
    color: $color-light-blue;
    font-size: 11px;
  }
  button {
    background-color: transparent;
    border: none;
    color: $color-light-blue;
    cursor: pointer;
    font-size: 16px;
  }
}

.btn-input {
  background-color: $color-light-blue;
  border-radius: 0px 4px 4px 0px;
  border: none;
  color: $color-white;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: relative;
  transition: 150ms ease-in-out;
  width: 112px;

  &:hover {
    background-color: darken($color-light-blue, 15%);
  }
}
