.card {
  display: grid;
  &__artwork {
    align-items: center;
    display: flex;
    grid-area: artwork;

    .cart-img {
      @include saved-image;

      @media (min-width: $desktop-breakpoint) {
        @include cart-image;
      }
    }

    .saved-img {
      @include saved-image;
    }

    &__title {
      display: flex;
      flex-direction: column;

      .song-title {
        color: $color-black;
        font-weight: bold;

        @media (min-width: $desktop-breakpoint) {
          font-size: 16px;
        }
      }

      .artist-title {
        color: $color-text-dark-grey;
      }
    }
  }

  .remove {
    grid-area: remove;
    margin-left: auto;
  }

  .product__type {
    align-items: center;
    display: flex;
    gap: 6px;
    grid-area: product-type;

    img {
      vertical-align: middle;
    }
    .product-text {
      color: $color-text-dark-grey;
      font-weight: bold;
      line-height: 24px;
      vertical-align: middle;
    }
  }
  .credit {
    grid-area: credit;
    justify-self: end;
  }

  .card-button {
    grid-area: card-button;
    justify-self: end;
  }

  .remove-save {
    display: none;
    @media (min-width: $desktop-breakpoint) {
      display: flex;
    }
    color: $color-text-dark-grey;
    grid-area: remove-save;
    justify-self: end;
  }

  .saved-remove-add {
    color: $color-text-dark-grey;
    display: none;
    flex-direction: row;
    gap: 10px;
    grid-area: saved-remove-add;
    justify-self: end;

    @media (min-width: $desktop-breakpoint) {
      display: flex;
    }

    button {
      background-color: $color-white;
      border-radius: 15px;
      border: 1px solid $color-text-dark-grey;
      color: $color-text-medium-grey;
      cursor: pointer;
      display: inline-block;
      padding: 5px 15px;
    }
  }
}
